# Data Science Tools and Ecosystem

In this notebook, the tools and ecosystems of data science are summarized.

**Objectives:**

* Creating and editing markdown cells  
* Listing popular languages for Data Science  
* Listing libraries used in Data Science  
* Performing basic mathematical operations

Some of the popular languages used by data scientists are:

1. Python  
2. R  
3. SQL  
4. JavaScript  
5. PHP

Some of the libraries commonly used by data scientists include:

1. Pandas  
2. NumPy  
3. Matplotlib  
4. Seaborn

| Data Science Tools       |  
|--------------------------|  
| MySQL                    |  
| Apache AirFlow           |  
| Watson Studio            |

### Below are some examples of evaluating arithmetic expressions in Python.

In [9]:
# This is a simple arithmetic expression to multiply and then add integers.

(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by dividing by 60

hours = 200/60  
hours

3.3333333333333335

## Author  
---  
Jesus E. Rodriguez Torres